p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f7fa;
}
.container {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.header {
  margin: 50px 0;
}
.logo {
  height: 70px;
  width: 70px;
  display: block; 
  margin: 0 auto;
}

.content {
  display: flex;
  width: 100%;
}

.content__left {
  width: 33%;
  margin-right: 25px;
}

.content__right {
  width: 66%;
}
